:root {
   --Pale-blue: hsl(225, 100%, 94%);
   --Bright-blue: hsl(245, 75%, 52%);
   --Very-pale-blue: hsl(225, 100%, 98%);
   --Desaturated-blue: hsl(224, 23%, 55%);
   --Dark-blue: hsl(223, 47%, 23%);
}

body {
   width: 100vw;
   height: 100vh;
   max-width: 1440px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: "Red Hat Display";
   background-image: url(../images/pattern-background-desktop.svg);
   background-repeat: no-repeat;
   background-color: var(--Pale-blue);
}
main {
   width: 30%;
   height: 625px;
   border-radius: 20px;
   background-color: var(--Very-pale-blue);
}

.illustration-hero {
   width: 100%;
   border-radius: 20px 20px 0 0;
}

.container {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}
.container > h1 {
   color: var(--Dark-blue);
   font-weight: 900;
}
.container span {
   color: var(--Desaturated-blue);
   text-align: center;
}

.content {
   width: 100%;
   padding: 0 40px 0 40px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.content > a {
   margin-top: 1.4rem;
   color: var(--Desaturated-blue);
   font-weight: 900;
}
.content > a:hover {
   color: var(--Dark-blue);
}

.annual-plan-content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   margin-top: 20px;
   padding: 20px;
   background-color: hsl(226, 100%, 97%);
   border-radius: 10px;
}

.icon-music {
   border: 1px solid var(--Pale-blue);
   border-radius: 50px;
}

.annual-Plan-info {
   margin-right: 4.5rem;
}

.annual-Plan-info p {
   font-size: 16px;
   font-weight: 900;
   color: var(--Dark-blue);
}
/*  --Bright-blue */
.annual-Plan-info span {
   color: var(--Desaturated-blue);
}

.annual-plan-content a {
   color: var(--Bright-blue);
   font-weight: 700;
   text-decoration: underline;
}
.annual-plan-content a:hover {
   text-decoration: none;
   color: hsl(256, 82%, 74%);
}

.btn-main {
   margin-top: 15px;
   padding: 15px;
   text-align: center;
   width: 100%;
   background-color: var(--Bright-blue);
   border-radius: 15px;
   color: var(--Very-pale-blue);
   box-shadow: 0px 5px 15px 0px hsl(224, 57%, 72%);
   cursor: pointer;
}

.btn-main:hover {
   background-color: hsl(256, 82%, 74%);
   box-shadow: 0px 5px 15px 0px hsl(256, 82%, 74%);
}

@media screen and (max-width: 720px) {
   main {
      width: 95%;
      height: 80%;
   }
   .annual-Plan-info p {
      font-size: 15px;
   }
}
@media screen and (max-width: 375px) {
   .annual-Plan-info {
      margin-right: 0;
   }
   .btn-main {
      margin-top: 25px;
   }
   main {
      height: 66%;
   }
}
